body {

    background-color: blanchedalmond;;
}

h1 {
    color:red;
    background-color: black;
    padding: 0.2em;
   
}
h2 {
    color: white;
    background-color: crimson;
    padding: 0.5em;
}

p {
    background-color: darkgray;
    padding: 2em;
}

 li {

    color:green;
}

button {

    background-color: crimson;
    color: wheat;
    height:3em;
    width:10em;
}

input[type=text]
{
    background-color: wheat;
    line-height: 2em;
}