body {

    background-color:cornsilk;
}
h1 {

    color:black;
    background-color: red;
    padding: 1em;
}

h2 {
    color:darkmagenta;
    background-color: yellow;
    padding: 0.5em;
}

h3 {

    color:pink;
    background-color: crimson;
    padding: 1em;
}

p {

    color:green;
    background-color: blanchedalmond;

}

ul li {

    color: red;
}

ol li {

    color:blue;
}

